@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-spacegrotesk: 'Space Grotesk', sans-serif;
}

/* Base font classes */
.font-inter {
  font-family: var(--font-inter);
}
.html{
  scroll-behavior:smooth;
}
.font-spacegrotesk {
  font-family: var(--font-spacegrotesk);
}


body {
  background-color:#FFF;
  font-family: var(--font-body);
}
